

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: #000000;
}

a {
  color: #5F7CF8;
}

a:hover {
  color: #5F7CF8;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, .font-primary {
  font-family: 'Baloo 2', cursive;
  font-size:40px;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  height: 80px;
  padding: 20px 0;
  z-index: 10;
  position: relative;
}

#header .logo h1 {
  font-size: 36px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 300;
  letter-spacing: 3px;
}

#header .logo h1 a, #header .logo h1 a:hover {
  color: #fff;
  text-decoration: none;
}

#header .logo img {
  padding: 0;
  margin: 0;
  max-height: 40px;
}

@media (max-width: 768px) {
  #header .logo h1 {
    font-size: 28px;
    padding: 8px 0;
  }
}

.card-body{
  width: 80px center center ;
  height: 80px;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 45vh;
  background: url("img/Heather.jpg") center center;
  background-size: cover;
  position: relative;
  margin-top: -80px;
  z-index: 9;
}

#hero .hero-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 15px;
}

#hero h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: normal;
  font-weight: bold;
  line-height: 56px;
  line-height: 56px;
  color: #FFFFFF;
}

.titulo {
  text-align: center;
  color: #50985A;
  font-family: 'Balsamiq Sans', cursive;
  font-weight: 600;
}



section {
  padding: 50px 0;
}

.section-bg {
  background: url("img/colorfondo.jpg") center center;

}

.section-title {
  text-align: center;
  color: #50985A;
  font-family: 'Lemonada';
  font-weight: 600;
}

.section-title h2 {
  font-size: 32px;
  font-weight: 300;
  margin-bottom: 20px;
  padding-bottom: 15px;
  position: relative;
}

.section-title h2::after {
  content: '';
  position: absolute;
  display: block;
  width: 80px;
  height: 1px;
  background: #5F7CF8;
  bottom: 0;
  left: calc(50% - 40px);
}

.section-title p {
  margin-bottom: 0;
  font-style: italic;
  color: #10F416;
}

.rowjustify-content-center{
  text-align: center;
  padding-bottom: 30px;
}



/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: url("img/piepag2.jpg") ;
  padding: 30px 0;
  color: #fff;
  font-size: 14px;
}

#footer .copyright {
  text-align: center;
}

#footer .credits {
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
  color: #fff;
}


.Twitter{
  font-family: 'Spartan', sans-serif;
  text-align: center;
  padding-bottom: 30px;
}

.Textlib{
  font-family: 'Spartan', sans-serif;
  text-align: center;
  padding-bottom: 30px;

}

.documentos{
  font-family: 'Spartan', sans-serif;
  text-align: center;
  padding-bottom: 30px;
}

.cajita{
  text-align: center;
  width: 400px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
background-color: #e9e2d2;
}
