

<body>


  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container">
    </div>
  </section><!-- #hero -->

  <main id="main">

    <!-- ======= Contact Us Section ======= -->
    <section id="contact" class="contact section-bg">
      <div class="container">

        <div class="titulo">
          <h1 color="primary"> Ambientalizate </h1>
        </div>



     <!-- ======= Body ======= -->

          <mat-tab-group>

            <!-- ======= Twitter ======= -->

            <mat-tab label="Twitter">
              <div class="Twitter">
                <br>
                Ingresa el Hashtag
                <br>
                <br>
              <input type="text" name="word" id="w" #word>

          <br><br>

          <button mat-raised-button color="primary" (click)="getTweet(word)"> Tweet</button>
               <br><br>

                <div  *ngFor="let twe of tweets">
                  <mat-card class="cajita">
                   <div>
                   <h3>Tweet</h3>
                  {{twe.tweet|json}}
                </div>
                <h3>Entidad</h3>
                <div *ngFor="let analisis of twe.analysis">
                  <br>
                  {{analisis.type | json}}{{analisis.text | json}}
                  <br><br>
                </div>
              </mat-card>
              <br>
                 </div>


              </div>
            </mat-tab>

            <!-- ======= texto ======= -->

            <mat-tab label="Texto">
              <div class="Textlib">
                <br>
                Ingresa el texto
                <br>
                <br>
                  <div class="texto">
                    <mat-form-field appearance="fill" class="form-group" style="width: 350px;">
                     <mat-label>Ingresa el texto</mat-label>
                     <input matInput id="text" name="description" #textlib>
                    </mat-form-field>
                  </div>
                  <br>
                  <div class="boton">
                    <button mat-flat-button color="primary" (click)="getTextlib(textlib)">Texto</button>
                  </div>
                <br>

                <div *ngFor="let textosv of texlibre">
                     <mat-card class="cajita">

                  {{textosv.type | json}}{{textosv.text | json}}
                  <br>
                </mat-card>
                <br>
                </div>
              </div>
            </mat-tab>

              <!-- ======= Documentos ======= -->

              <mat-tab label="Documentos">
              <div class="documentos">
                <br>
                Ingresa el nombre del documento
                <br>

                <div>
                  <br>
                  <input type="text" name="doc" id="doc" #doc>

                  <br>
                  <br>

                <button mat-raised-button color="primary" (click)="getFile(doc)"> Buscar</button>

                    </div>
                    <br>

              <label for="">
                <mat-card class="cajita" *ngIf="textodoc==true">
                {{documento}}
              </mat-card>
              </label>



              <br><br>
              <button mat-raised-button color="primary" (click)="getAnali()"> Analizar</button>
              <br><br>


              <div *ngFor="let extra of analit">
                <mat-card class="cajita">
                {{extra.type|json}}{{extra.text|json}}
              </mat-card>
              <br>
              </div>

            </div>
            </mat-tab>
          </mat-tab-group>
          <!-- ======= End Body ======= -->

          </div>


    </section><!-- End Contact Us Section -->

      <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; <strong><span></span></strong>
      </div>
      <div class="credits">

      </div>
    </div>
  </footer><!-- End #footer -->

  </main><!-- End #main -->


</body>



